extends ../layout.pug

block content
#pad-wrapper.new-user
.row.header
    .col-md-12
    h3 Create a new user
.row.form-wrapper
    .col-md-9.with-sidebar
    form.form-horizontal(role='form')
        .form-group
        label.col-md-2.control-label(for='inputName1') Name
        .col-md-8
            input#inputName1.form-control(type='text', placeholder='Name')
        .form-group
        label.col-md-2.control-label(for='inputEmail1') Email
        .col-md-8
            input#inputEmail1.form-control(type='text', placeholder='Email')
        .form-group
        label.col-md-2.control-label(for='inputPhone1') Phone
        .col-md-8
            input#inputPhone1.form-control(type='text', placeholder='Phone')
        .form-group
        label.col-md-2.control-label(for='inputWebsite1') Website
        .col-md-8
            input#inputWebsite1.form-control(type='text', placeholder='Website')
        .form-group
        label.col-md-2.control-label(for='inputAddress1') Address
        .col-md-8
            input#inputAddress1.form-control(type='text', placeholder='Address')
        .form-group
        label.col-md-2.control-label(for='inputContent1') Content
        .col-md-8
            textarea#inputContent1.form-control(placeholder='Content', rows='5')
        .form-group
        .col-md-offset-2.col-md-8
            button.btn.btn-default(type='submit') Sign in